<div class="mt-9 grid grid-cols-2 grid-rows-2 gap-y-6 lg:gap-y-4 place-items-center sm:grid-cols-4">
    
    <div class="bg-[rgb(235,235,235)] hover:drop-shadow-xl w-48 h-48 lg:w-56 lg:h-56 xl:w-64 xl:h-64 cursor-pointer rounded-2xl flex flex-col items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
      <div class="flex flex-col items-center">
        <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M21 15a9.11 9.11 0 0 0-.18-1.81 8.53 8.53 0 0 0-.53-1.69 8.08 8.08 0 0 0-.83-1.5 8.73 8.73 0 0 0-1.1-1.33A8.27 8.27 0 0 0 17 7.54a8.08 8.08 0 0 0-1.53-.83L15 6.52V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.52l-.5.19a8.08 8.08 0 0 0-1.5.83 8.27 8.27 0 0 0-1.33 1.1A8.27 8.27 0 0 0 4.54 10a8.08 8.08 0 0 0-.83 1.53 9 9 0 0 0-.53 1.69A9.11 9.11 0 0 0 3 15v3H2v2h20v-2h-1zM5 15a7.33 7.33 0 0 1 .14-1.41 6.64 6.64 0 0 1 .41-1.31 7.15 7.15 0 0 1 .64-1.19 7.15 7.15 0 0 1 1.9-1.9A7.33 7.33 0 0 1 9 8.68V15h2V6h2v9h2V8.68a8.13 8.13 0 0 1 .91.51 7.09 7.09 0 0 1 1 .86 6.44 6.44 0 0 1 .85 1 6 6 0 0 1 .65 1.19 7.13 7.13 0 0 1 .41 1.31A7.33 7.33 0 0 1 19 15v3H5z"></path></svg>        
        </div>
        <div>
          <p class="font-medium text-center mt-3 text-sm text-gray-700">Labour Services</p>
          <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
        </div>
      </div>
    </div>

    <div class="bg-[rgb(239,240,241)] hover:drop-shadow-xl w-48 h-48 lg:w-56 lg:h-56 xl:w-64 xl:h-64 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
      <div class="flex flex-col items-center">
        <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M18 2H6c-1.103 0-2 .897-2 2v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4c0-1.103-.897-2-2-2zm0 18H6V4h12v16z"></path><path d="M8 6h3v2H8zm5 0h3v2h-3zm-5 4h3v2H8zm5 .031h3V12h-3zM8 14h3v2H8zm5 0h3v2h-3z"></path></svg>            </div>
        <div>
          <p class="font-medium text-center mt-3 text-sm text-gray-700">Plant &#38; Machine Maintenance</p>
          <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
        </div>
      </div>
    </div>

    <div class="bg-[rgb(239,240,241)] hover:drop-shadow-xl w-48 h-48 lg:w-56 lg:h-56 xl:w-64 xl:h-64 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
      <div class="flex flex-col items-center">
        <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m3.553 18.895 4 2a1.001 1.001 0 0 0 .894 0L12 19.118l3.553 1.776a.99.99 0 0 0 .894.001l4-2c.339-.17.553-.516.553-.895v-5c0-.379-.214-.725-.553-.895L17 10.382V6c0-.379-.214-.725-.553-.895l-4-2a1 1 0 0 0-.895 0l-4 2C7.214 5.275 7 5.621 7 6v4.382l-3.447 1.724A.998.998 0 0 0 3 13v5c0 .379.214.725.553.895zM8 12.118l2.264 1.132-2.913 1.457-2.264-1.132L8 12.118zm4-2.5 3-1.5v2.264l-3 1.5V9.618zm6.264 3.632-2.882 1.441-2.264-1.132L16 12.118l2.264 1.132zM8 18.882l-.062-.031V16.65L11 15.118v2.264l-3 1.5zm8 0v-2.264l3-1.5v2.264l-3 1.5zM12 5.118l2.264 1.132-2.882 1.441-2.264-1.132L12 5.118z"></path></svg>            </div>
        <div>
          <p class="font-medium text-center mt-3 text-sm text-gray-700">Metal Fabrication &#38; Machining</p>
          <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
        </div>
      </div>
    </div>

    <div class="bg-[rgb(239,240,241)] hover:drop-shadow-xl w-48 h-48 lg:w-56 lg:h-56 xl:w-64 xl:h-64 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
      <div class="flex flex-col items-center">
        <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
          <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13V13z"></path><path d="M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17z"></path></svg>            </div>
        <div>
          <p class="font-medium text-center mt-3 text-sm text-gray-700">General Merchandise</p>
          <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
        </div>
      </div>
    </div>
   
</div>