<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Plant Maintenance, Metal Fabrication, Earth Moving Machines, Printing Machines and Accesories, Manufacturing MC/Parts, Technical Materials, Labour and Services, Metal Machining, Importer/Exporter, General Mechandise"
    />
    <meta
      name="description"
      content="Gedan Global Options Ltd, an Engineering Firm"
    />
    <meta name="language" content="ENG" />
    <meta name="author" content="gedan, globalgedan@yahoo.com" />
    <meta name="developer" content="Daniel Brai, danielbrai.dev@gmail.com" />
    <meta name="url" content="" />
    <meta name="identifier-URL" content="" />
    <meta name="og:title" content="Gedan Global Options Ltd" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="" />
    <meta name="og:image" src="https://drive.google.com/uc?id=16wglwb0iTxTDjvz-VCxVQBzAGToDoN5F" />
    <meta name="og:site_name" content="Gedan Global Options Ltd" />
    <meta
      name="og:description"
      content="Gedan Global Options Ltd, an Engineering Firm delivering best-in-class services making the work environment safe and effective"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/build.css" />
    <!-- <link rel="stylesheet" href="/css/tailwind.css" /> -->
    <title>Home | Gedan Global Options Ltd</title>
  </head>
  <body
    class="font-['Poppins'] overflow-x-hidden bg-white scrollbar-w-3 scrollbar-thumb-rounded-full scrollbar-thumb-gray-300 scrollbar-track-gray-50"
    id="Home"
  >
    <div class="section relative h-full bg-white overflow-hidden">
      <div
        id="nav-block"
        class="fixed top-0 hidden shadow-sm transition-all w-[100vw] bg-white z-[1000] h-[10vh]"
      ></div>

      <div class="max-w-7xl mx-auto">
        <div
          class="relative z-[1100] pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
        >
          <!-- Hiddem svg for the hero image cut-->
          <svg
            class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
            fill="currentColor"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <polygon class="bg-transparent" points="50,0 100,0 50,100 0,100" />
          </svg>

          <div class="sm:z-[1500]">
            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
              <nav
                id="navbar"
                class="fixed top-5 w-[100vw] flex items-center justify-between sm:h-10 lg:justify-start lg:w-[100vw]"
                aria-label="Global"
                role="navigation"
              >
                <div
                  class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"
                >
                  <div
                    class="flex items-center justify-between w-full md:w-auto"
                  >
                    <div>
                      <span class="sr-only">Gedan</span>
                      <img
                        id="gedan-logo"
                        alt="Gedan Logo"
                        class="h-8 w-auto sm:h-10"
                        src="/logos/gedan.jpg"
                      />
                    </div>
                    <div
                      id="mobile-menu-open"
                      class="mr-12 sm:mr-14 flex items-center z-50 md:hidden"
                    >
                      <button
                        type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[rgba(80,165,111,0.9)]"
                        aria-expanded="false"
                      >
                        <span class="sr-only">Open main menu</span>
                        <svg
                          class="h-6 w-6"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4 6h16M4 12h16M4 18h16"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Links for medium and large screens -->
                <div
                  class="hidden md:flex lg:ml-16 md:ml-10 md:pr-16 lg:pr-0 md:space-x-8"
                >
                  <p
                    id="homeLink"
                    class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]"
                  >
                    Home
                  </p>

                  <p
                    id="aboutLink"
                    class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]"
                  >
                    About Us
                  </p>

                  <p
                    id="servicesLink"
                    class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]"
                  >
                    Our Services
                  </p>

                  <a
                    href="/gallery"
                    class="deskLink font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]"
                    >Our Gallery</a
                  >

                  <p
                    id="contactLink"
                    class="deskLink cursor-pointer font-medium text-[rgba(80,165,111,0.85)] hover:text-[rgb(80,165,111)] focus:outline-none focus:text-[rgb(80,165,111)]"
                  >
                    Contact Us
                  </p>
                </div>
              </nav>
            </div>

            <!-- mobile menu card -->
            <div
              id="mobile-menu"
              class="fixed z-50 top-0 inset-x-0 p-2 transition transform origin-top-right hidden lg:hidden"
            >
              <div
                class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden"
              >
                <div class="px-5 pt-4 flex items-center justify-between">
                  <div>
                    <img
                      class="h-8 w-auto"
                      src="/logos/gedan.jpg"
                      alt="Gedan Logo"
                    />
                  </div>
                  <div id="mobile-menu-close" class="-mr-2">
                    <button
                      type="button"
                      class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[rgba(80,165,111,0.9)]"
                    >
                      <span class="sr-only">Close main menu</span>
                      <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>

                <!-- mobile menu links -->
                <div class="px-2 pt-2 pb-3 space-y-1">
                  <a
                    id="homeLinkMobile"
                    class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                    >Home</a
                  >

                  <a
                    id="aboutLinkMobile"
                    class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                    >About Us</a
                  >

                  <a
                    id="servicesLinkMobile"
                    class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                    >Our Services</a
                  >

                  <a
                    href="/gallery"
                    class="link block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                    >Our Gallery</a
                  >
                </div>

                <a
                  id="contactLinkMobile"
                  class="link cursor-pointer block w-full px-5 py-3 text-center font-medium text-[rgb(80,165,111)] bg-gray-50 hover:bg-gray-100"
                >
                  Contact Us
                </a>
              </div>
            </div>
          </div>

          <!-- Hero Section -->
          <main
            class="mt-20 z-[100] mx-auto max-w-7xl px-4 sm:px-6 md:mt-[4.5rem] lg:mt-28 lg:px-8 xl:mt-28"
          >
            <img
              class="hidden lg:block absolute -z-50 top-36 -left-1/2 w-full h-full"
              src="/svgs/dots.svg"
              alt="dots.svg"
            />

            <!-- Introduction -->
            <div class="sm:text-center lg:text-left">
              <h1
                class="animate__animated animate__fadeInLeft tracking-tight font-extrabold text-gray-900"
              >
                <span
                  class="block text-4xl text-gray-700 md:text-6xl lg:text-[4.2rem] xl:inline"
                  >We are Gedan</span
                >
                <span
                  class="block text-4xl md:text-6xl lg:text-[4.2rem] text-[rgb(80,165,111)] xl:inline"
                  >Engineering at its best</span
                >
              </h1>
              <p
                class="animate__animated animate__fadeInLeft animate__slow mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
              >
                Delivering best-in-class Engineering services making the work
                environment safe and effective.
              </p>

              <div
                class="mt-5 sm:mt-8 sm:mr-0 sm:flex sm:justify-center lg:justify-start"
              >
                <!-- CTAS -->
                <div
                  id="workLink"
                  class="animate__animated animate__bounceInLeft animate__slower cursor-pointer bg-[rgb(80,165,111)] hover:bg-[rgba(80,165,111,0.85)] focus:outline-none focus:ring focus:ring-[rgba(80,165,111,0.85)] rounded-md shadow flex items-center justify-center px-8 py-3.5 md:py-4 md:text-lg md:px-9 lg:py-5"
                >
                  <a class="text-base font-medium text-white"> See our work </a>
                  <svg
                    class="fill-white ml-2"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z"
                    />
                    <path
                      d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z"
                    />
                  </svg>
                </div>

                <div
                  class="animate__animated animate__bounceInLeft animate__slow mt-3 sm:mt-0 sm:ml-3 cursor-pointer bg-[rgba(80,165,111,0.65)] hover:bg-[rgba(80,165,111,0.75)] focus:outline-none focus:ring focus:ring-[rgba(80,165,111,0.85)] rounded-md shadow flex items-center justify-center px-8 py-3.5 md:py-4 md:text-lg md:px-9 lg:py-5"
                >
                  <a
                    href="mailto:globalgedan@yahoo.com?subject=REQUEST OF A QUOTATION FOR ......"
                    class="text-base font-medium focus:outline-none text-white"
                  >
                    Request a quote
                  </a>
                  <svg
                    class="fill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>

            <!-- scroll to see more button -->
            <div class="relative top-12 hidden lg:block">
              <div
                class="w-11 h-6 mt-9 flex flex-col justify-center items-start bg-gray-800 rotate-90 rounded-3xl"
              >
                <div
                  class="w-4 h-4 ml-1 bg-white rounded-full animate__animated animate__fadeOutRight animate__slower animate__infinite animate__delay-3s"
                ></div>
              </div>
            </div>
          </main>
        </div>
      </div>

      <!-- Hero Image -->
      <div>
        <picture class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <source
            class="h-64 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full lg:object-cover"
            type="image/avif"
            src="/images/gedan_hero_image.avif"
            alt="Gedan Hero Section Image"
          />
          <!-- for browsers that do not support the avif image format -->
          <img
            class="h-64 w-full object-cover sm:h-80 md:h-96 lg:w-full lg:h-full lg:object-cover"
            src="/images/gedan_hero_image_fallback.jpg"
            alt="Gedan Hero Section Image Fallback"
            loading="eager"
          />
        </picture>
      </div>
    </div>

    <div class="my-10 lg:hidden">
      <div
        class="w-11 h-6 mt-9 mx-auto flex flex-col justify-center items-start bg-gray-600 rotate-90 rounded-3xl"
      >
        <div
          class="w-4 h-4 ml-1 bg-white rounded-full animate__animated animate__fadeOutRight animate__slower animate__infinite animate__delay-3s"
        ></div>
      </div>
    </div>

    <!-- About us section -->
    <section
      class="section relative mt-8 lg:mt-20 w-auto h-auto px-4 py-8 md:px-8 md:py-12"
      id="About"
    >
      <div>
        <div>
          <p
            class="text-[rgb(80,165,111)] font-semibold sm:text-left lg:text-lg"
          >
            ABOUT US
          </p>
          <p
            class="text-xl lg:text-3xl text-gray-800 mt-3 font-bold leading-relaxed lg:leading-relaxed"
          >
            GEDAN GLOBAL OPTIONS LIMITED was founded in 2008 as an industrial
            engineering company specializing in the installation, and
            maintenance of industrial equipment. We are specialists in the
            installation and maintenance of industrial equipment, automation,
            and fabrication of mechanical spare parts.
          </p>
          <p class="mt-4 text-base lg:text-xl text-gray-600 leading-loose">
            Our company was founded to satisfy the need for specialized
            Industrial technical know-how in the maintenance, Spares and to
            support of automated electrical & mechanical equipment in industries
            especially in the Food and Beverages sector.<br />
            We support companies in optimizing their package lines in Nigeria
            and the West African sub-region.
          </p>
        </div>

        <div class="mt-16">
          <p
            class="text-[rgb(80,165,111)] text-center font-semibold sm:text-left lg:text-lg"
          >
            OUR CORE VALUES
          </p>

          <div class="mt-8">
            <dl
              class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10"
            >
              <div class="relative bg-[rgb(239,240,241)] py-5 px-3 rounded-2xl">
                <dt>
                  <div
                    class="absolute flex items-center justify-center h-12 w-12 rounded-full bg-[rgba(80,165,111,0.65)] text-white"
                  >
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                      />
                    </svg>
                  </div>
                  <p class="ml-16 text-lg leading-6 font-medium text-gray-800">
                    Partnership
                  </p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-600 lg:w-[70%]">
                  We adopt your own goals as our own: Your success is our
                  success. In working with us, you will find a partner that
                  truly cares about helping your company accomplish its goals
                  however we possibly can.
                </dd>
              </div>

              <div class="relative bg-[rgb(239,240,241)] py-5 px-3 rounded-2xl">
                <dt>
                  <div
                    class="absolute flex items-center justify-center h-12 w-12 rounded-full bg-[rgba(80,165,111,0.65)] text-white"
                  >
                    <svg
                      class="fill-white"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                    >
                      <path
                        d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"
                      />
                      <path
                        d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"
                      />
                    </svg>
                  </div>
                  <p class="ml-16 text-lg leading-6 font-medium text-gray-800">
                    Professionalism
                  </p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-600 lg:w-[70%]">
                  We hire the right employees and train them to not only do
                  their jobs well but to demonstrate this core value in their
                  personal appearance at work, the level of customer service
                  that they provide to our clients, and their commitment to
                  safety while on the job.
                </dd>
              </div>

              <div class="relative bg-[rgb(239,240,241)] py-5 px-3 rounded-2xl">
                <dt>
                  <div
                    class="absolute flex items-center justify-center h-12 w-12 rounded-full bg-[rgba(80,165,111,0.65)] text-white"
                  >
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13 10V3L4 14h7v7l9-11h-7z"
                      />
                    </svg>
                  </div>
                  <p class="ml-16 text-lg leading-6 font-medium text-gray-800">
                    Reliability & Quality
                  </p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-600 lg:w-[70%]">
                  The basis of trust with us is Reliability. It is a value which
                  all team members must focus on, driving us to deliver safely
                  on quality, time, and cost. <br> Also, we guarantee that our
                  processes, products and services are of superior standards
                  while satisfying Customer needs.
                </dd>
              </div>

              <div class="relative bg-[rgb(239,240,241)] py-5 px-3 rounded-2xl">
                <dt>
                  <div
                    class="absolute flex items-center justify-center h-12 w-12 rounded-full bg-[rgba(80,165,111,0.65)] text-white"
                  >
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                      />
                    </svg>
                  </div>
                  <p class="ml-16 text-lg leading-6 font-medium text-gray-800">
                    Expertise & Customer Focus
                  </p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-600 lg:w-[70%]">
                  We maintain our expertise through training and continuing
                  education. <br> We build teams of Subject Matter Experts, so our
                  clients do not have to. We strive to understand our customers
                  and give them the best.
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients section -->
    <section id="Clients" class="bg-white pt-6 px-9 h-auto">
      <div>
        <p class="font-bold text-xl text-gray-800 lg:text-center">
          Some of the clients we have worked with
        </p>
      </div>

      <div class="px-8 py-6">
        <div class="grid grid-cols-3 grid-rows-1 gap-7 items-center">
          <div>
            <img
              class="grayscale w-28 h-20 md:w-full md:h-20 lg:w-3/5 lg:h-1/2"
              src="/logos/nb.webp"
              alt="Nigerian Breweries Logo"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="grayscale w-44 h-24 md:w-full md:h-32 lg:w-3/5 lg:h-3/4"
              src="/logos/npa.webp"
              alt="Nigeria Ports Authority Logo"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="grayscale w-36 h-10 md:w-36 md:h-12"
              src="/logos/eezee.png"
              alt="Eezee Plastics Logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Services section -->
    <section
      class="section relative mt-16 w-auto h-auto px-4 py-8 md:px-8 md:py-12 overflow-hidden"
      id="Services"
    >
      <img
        class="absolute w-1/2 h-1/2 -z-50 -left-16 -top-4 lg:-left-[22rem]"
        src="/svgs/dots.svg"
        alt="dots svg"
      />

      <div>
        <p class="text-[rgb(80,165,111)] text-center font-medium sm:text-left">
          OUR SERVICES
        </p>

        <!-- Service cards -->
        <%- include('./includes/services_cards.ejs'); %>
      </div>

      <img
        class="absolute w-1/2 h-1/2 -z-50 -right-32 -bottom-10 lg:bottom-16 lg:-right-0 lg:left-[70vw]"
        src="/svgs/dots.svg"
        alt="dots svg"
      />
    </section>

    <!-- Contact us section -->
    <section
      class="section w-auto h-auto -mt-28 sm:-mt-32 lg:-mt-40 px-11 py-8 md:px-12 md:flex md:flex-row md:-mt-44 lg:justify-around"
      id="Contact"
    >
      <img
        class="w-1/2 h-1/4 relative top-52 -left-32 -z-40 lg:z-0 sm:hidden lg:w-1/6 lg:h-1/4 lg:relative lg:-left-[150px] lg:block lg:top-1/2 lg:mt-20"
        src="/svgs/dots.svg"
        alt="dots"
      />
      <div class="lg:mt-20">
        <p class="text-[rgb(80,165,111)] text-center font-medium sm:text-left">
          GOT A QUESTION?
        </p>
        <p
          class="text-4xl text-gray-800 font-medium mt-2 text-center sm:text-left"
        >
          Let's Talk
        </p>

        <div
          class="text-lg text-gray-700 text-justify sm:text-left md:text-base lg:text-lg mt-2"
        >
          <p>
            Got a project in mind? We look forward to hearing from from you
            <svg
              class="fill-gray-700 inline-block"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
              />
              <path
                d="M14.829 14.828a4.055 4.055 0 0 1-1.272.858 4.002 4.002 0 0 1-4.875-1.45l-1.658 1.119a6.063 6.063 0 0 0 1.621 1.62 5.963 5.963 0 0 0 2.148.903 6.042 6.042 0 0 0 2.415 0 5.972 5.972 0 0 0 2.148-.903c.313-.212.612-.458.886-.731.272-.271.52-.571.734-.889l-1.658-1.119a4.017 4.017 0 0 1-.489.592z"
              />
              <circle cx="8.5" cy="10.5" r="1.5" />
              <circle cx="15.493" cy="10.493" r="1.493" />
            </svg>
          </p>
        </div>

        <!-- social links -->
        <div class="hidden"><%- include('./includes/socials.ejs'); %></div>
      </div>

      <!-- Contact us form -->
      <div class="mt-8 lg:mt-0">
        <%- include('./includes/contact_form.ejs'); %>
      </div>
    </section>

    <!-- Footer section -->
    <section class="bg-[rgb(239,240,241)] py-8 mt-16" id="footer">
      <div class="space-y-4">
        <div class="flex justify-center">
          <%- include('./includes/socials.ejs'); %>
        </div>

        <div class="text-xs text-center font-medium">
          <p>
            <a href="/">Home</a>
            <span>.</span>
            <a href="/privacy_policy">Privacy Policy</a>
          </p>
        </div>

        <div class="flex justify-center text-sm">
          Made by
          <a class="mx-1" href="mailto:braidaniel2001@gmail.com">
            Daniel Brai
          </a>
          using
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-[rgb(131,138,150)] ml-1"
            width="24"
            height="24"
          >
            <path
              d="M12 21.985c-.275 0-.532-.074-.772-.202l-2.439-1.448c-.365-.203-.182-.277-.072-.314.496-.165.588-.201 1.101-.493.056-.037.129-.02.185.017l1.87 1.12c.074.036.166.036.221 0l7.319-4.237c.074-.036.11-.11.11-.202V7.768c0-.091-.036-.165-.11-.201l-7.319-4.219c-.073-.037-.165-.037-.221 0L4.552 7.566c-.073.036-.11.129-.11.201v8.457c0 .073.037.166.11.202l2 1.157c1.082.548 1.762-.095 1.762-.735V8.502c0-.11.091-.221.22-.221h.936c.108 0 .22.092.22.221v8.347c0 1.449-.788 2.294-2.164 2.294-.422 0-.752 0-1.688-.46l-1.925-1.099a1.55 1.55 0 0 1-.771-1.34V7.786c0-.55.293-1.064.771-1.339l7.316-4.237a1.637 1.637 0 0 1 1.544 0l7.317 4.237c.479.274.771.789.771 1.339v8.458c0 .549-.293 1.063-.771 1.34l-7.317 4.236c-.241.11-.516.165-.773.165zm2.256-5.816c-3.21 0-3.87-1.468-3.87-2.714 0-.11.092-.221.22-.221h.954c.11 0 .201.073.201.184.147.971.568 1.449 2.514 1.449 1.54 0 2.202-.35 2.202-1.175 0-.477-.185-.825-2.587-1.063-1.999-.2-3.246-.643-3.246-2.238 0-1.485 1.247-2.366 3.339-2.366 2.347 0 3.503.809 3.649 2.568a.297.297 0 0 1-.056.165c-.037.036-.091.073-.146.073h-.953a.212.212 0 0 1-.202-.164c-.221-1.012-.789-1.34-2.292-1.34-1.689 0-1.891.587-1.891 1.027 0 .531.237.696 2.514.99 2.256.293 3.32.715 3.32 2.294-.02 1.615-1.339 2.531-3.67 2.531z"
            ></path>
          </svg>
          and
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-[rgb(131,138,150)] ml-1"
            width="24"
            height="24"
          >
            <path
              d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
            ></path>
          </svg>
        </div>

        <div class="text-sm text-slate-900" id="copyright"></div>
      </div>
    </section>

    <!-- JS Script -->
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
