<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Plant Maintenance, Metal Fabrication, Earth Moving Machines, Printing Machines and Accesories, Manufacturing MC/Parts, Technical Materials, Labour and Services, Metal Machining, Importer/Exporter, General Mechandise"/>
  <meta name="description" content="Gedan Global Options Ltd, an Engineering Firm">
  <meta name="language" content="ENG">
  <meta name="author" content="gedan, globalgedan@yahoo.com">
  <meta name="developer" content="Daniel Brai, danielbrai.dev@gmail.com">
  <meta name="url" content="">
  <meta name="identifier-URL" content="">
  <meta name="og:title" content="Gedan Global Options Ltd"/>
  <meta name="og:type" content="website"/>
  <meta name="og:url" content="">
  <meta name="og:image" src="/images/gedan_hero_image_fallback.jpg">
  <meta name="og:site_name" content="Gedan Global Options Ltd">
  <meta name="og:description" content="Gedan Global Options Ltd, an Engineering Firm delivering best-in-class services making the work environment safe and effective">
  <link rel="icon" sizes="192x192" href="/favicon/android-chrome-192x192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Home | Gedan Global Options Ltd</title>
</head>
<body class="font-['Poppins'] overflow-x-hidden bg-white" id="Home">
  <div class="section relative h-full bg-white overflow-hidden">

    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <!-- Hiddem svg for the hero image cut-->
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2 " fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon class="bg-transparent" points="50,0 100,0 50,100 0,100" />
        </svg>
  
        <div>
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav id="navbar"  class="fixed top-5 w-[100vw] flex items-center justify-between sm:h-10 lg:justify-start lg:w-[100vw]" aria-label="Global" role="navigation">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                  <div>
                    <span class="sr-only">Gedan</span>
                    <img id="gedan-logo" alt="Gedan Logo" class="h-8 w-auto sm:h-10" src="/logos/gedan.jpg">
                  </div>
                  <div id="mobile-menu-open" class="mr-11 sm:mr-14 flex items-center md:hidden">
                    <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[rgba(80,165,111,0.9)]" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Links for medium and large screens -->
              <div class="hidden md:flex lg:ml-16 md:ml-10 md:pr-16 lg:pr-0 md:space-x-8">
                <p id="homeLink" class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]">Home</p>
  
                <p id="aboutLink" class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]">About Us</p>
  
                <p id="servicesLink" class="deskLink cursor-pointer font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]">Our Services</p>
  
                <a href="/gallery" class="deskLink font-medium text-gray-500 hover:text-[rgba(80,165,111,0.9)] focus:outline-none focus:text-[rgb(80,165,111)]">Our Gallery</a>
  
                <p id="contactLink" class="deskLink cursor-pointer font-medium text-[rgba(80,165,111,0.85)] hover:text-[rgb(80,165,111)] focus:outline-none focus:text-[rgb(80,165,111)]">Contact Us</p>
              </div>
            </nav>
          </div>
  
          <!-- mobile menu card -->
          <div id="mobile-menu" class="fixed z-50 top-0 inset-x-0 p-2 transition transform origin-top-right hidden lg:hidden">
            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <img class="h-8 w-auto" src="/logos/gedan.jpg" alt="Gedan Logo">
                </div>
                <div id="mobile-menu-close" class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[rgba(80,165,111,0.9)]">
                    <span class="sr-only">Close main menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              
              <!-- mobile menu links -->
              <div class="px-2 pt-2 pb-3 space-y-1">
                <a id="homeLinkMobile" class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Home</a>
  
                <a id="aboutLinkMobile" class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">About Us</a>
  
                <a id="servicesLinkMobile" class="link cursor-pointer block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Our Services</a>
  
                <a href="/gallery" class="link block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Our Gallery</a>
              </div>

              <a id="contactLinkMobile" class="link cursor-pointer block w-full px-5 py-3 text-center font-medium text-[rgb(80,165,111)] bg-gray-50 hover:bg-gray-100"> Contact Us </a>
            </div>
          </div>
        </div>
  
        <!-- Hero Section -->
        <main class="mt-16 z-[100] mx-auto max-w-7xl px-4 sm:px-6 md:mt-[4.5rem] lg:mt-28 lg:px-8 xl:mt-28">

          <img class="hidden lg:block absolute -z-50 top-36 -left-1/2 w-full h-full" src="/svgs/dots.svg" alt="dots.svg">
          
          <!-- Introduction -->
          <div class="sm:text-center lg:text-left">
            <h1 class="animate__animated animate__fadeInLeft tracking-tight font-extrabold text-gray-900">
              <span class="block text-4xl md:text-6xl lg:text-[4.2rem] xl:inline">We are Gedan</span>
              <span class="block text-4xl md:text-6xl lg:text-[4.2rem] text-[rgb(80,165,111)] xl:inline">Engineering at its best</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Delivering best-in-class Engineering services making the work environment safe and effective. </p>
            <div class="mt-5 sm:mt-8 sm:mr-0 sm:flex sm:justify-center lg:justify-start">
              
              <!-- CTAS -->
              <div id="workLink" class="cursor-pointer bg-[rgb(80,165,111)] hover:bg-[rgba(80,165,111,0.85)] focus:outline-none focus:ring focus:ring-[rgba(80,165,111,0.85)] rounded-md shadow flex items-center justify-center px-8 py-3.5 md:py-4 md:text-lg md:px-9 lg:py-5">
                <a class="text-base font-medium text-white"> See our work </a>
                <svg class="fill-white ml-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z"/><path d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z"/></svg>
              </div>
              
              <div class="mt-3 sm:mt-0 sm:ml-3 cursor-pointer bg-[rgba(80,165,111,0.65)] hover:bg-[rgba(80,165,111,0.75)] focus:outline-none focus:ring focus:ring-[rgba(80,165,111,0.85)] rounded-md shadow flex items-center justify-center px-8 py-3.5 md:py-4 md:text-lg md:px-9 lg:py-5">
                <a href="mailto:globalgedan@yahoo.com?subject=REQUEST OF A QUOTATION FOR ......" class="text-base font-medium focus:outline-none text-white"> Request a quote </a>
                <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
              </div>

            </div>
          </div>

        </main>

      </div>
    </div>
      
    <!-- Hero Image -->
    <div>
      <picture class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <source class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full lg:object-cover" type="image/avif" src="/images/gedan_hero_image.avif" alt="Gedan Hero Section Image">
        <!-- for browsers that do not support the avif image format -->
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full lg:object-cover" src="/images/gedan_hero_image_fallback.jpg"alt="Gedan Hero Section Image Fallback">
      </picture>
    </div>

  </div>

  <!-- Clients section -->
  <section id="Clients" class="bg-white pt-6 px-9 h-auto">
    <div>
      <p class="text-center font-medium text-base text-gray-400">Our Clients</p>
      <p class="text-center font-bold text-2xl text-[rgb(80,165,111)]">Some of the clients we have worked with</p>
    </div>

    <div class="px-8 py-6">
      <div class="grid grid-cols-3 grid-rows-1 gap-7 items-center">
        <div>
          <img class="grayscale w-full h-20 lg:w-3/5 lg:h-1/2" src="/logos/nb.webp" alt="Nigerian Breweries Logo">
        </div>
        <div>
          <img class="grayscale w-full h-32 lg:w-3/5 lg:h-3/4" src="/logos/npa.webp" alt="Nigeria Ports Authority Logo">
        </div>
        <div>
          <img class="grayscale w-36 h-12" src="/logos/eezee.png" alt="Eezee Plastics Logo">
        </div>
      </div>
    </div>
  </section>

  <!-- About us section -->
  <section class="section relative w-auto h-auto px-4 py-8 md:px-8 md:py-12" id="About">
    <p class="font-bold text-[rgb(80,165,111)] text-4xl ">About Us</p>

    <div>
      <p>Since 2016</p>
    </div>
  </section>

  <!-- Services section -->
  <section class="section relative w-auto h-auto px-4 py-8 md:px-8 md:py-12" id="Services">
    <img class="absolute w-1/2 h-1/2 -z-50 -left-16 -top-4 lg:-left-[22rem]" src="/svgs/dots.svg" alt="dots svg">

    <div>
      <p class="font-bold text-[rgb(80,165,111)] text-center text-4xl ">What most of our clients ask for</p>

      <!-- Service cards -->
      <div class="mt-9 grid grid-cols-2 grid-rows-2 gap-y-6 lg:gap-y-4 place-items-center sm:grid-cols-4">
        <div class="bg-[rgb(235,235,235)] shadow-sm w-48 h-48 lg:w-56 lg:h-56 cursor-pointer rounded-2xl flex flex-col items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
          <div class="flex flex-col items-center">
            <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
              <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M21 15a9.11 9.11 0 0 0-.18-1.81 8.53 8.53 0 0 0-.53-1.69 8.08 8.08 0 0 0-.83-1.5 8.73 8.73 0 0 0-1.1-1.33A8.27 8.27 0 0 0 17 7.54a8.08 8.08 0 0 0-1.53-.83L15 6.52V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.52l-.5.19a8.08 8.08 0 0 0-1.5.83 8.27 8.27 0 0 0-1.33 1.1A8.27 8.27 0 0 0 4.54 10a8.08 8.08 0 0 0-.83 1.53 9 9 0 0 0-.53 1.69A9.11 9.11 0 0 0 3 15v3H2v2h20v-2h-1zM5 15a7.33 7.33 0 0 1 .14-1.41 6.64 6.64 0 0 1 .41-1.31 7.15 7.15 0 0 1 .64-1.19 7.15 7.15 0 0 1 1.9-1.9A7.33 7.33 0 0 1 9 8.68V15h2V6h2v9h2V8.68a8.13 8.13 0 0 1 .91.51 7.09 7.09 0 0 1 1 .86 6.44 6.44 0 0 1 .85 1 6 6 0 0 1 .65 1.19 7.13 7.13 0 0 1 .41 1.31A7.33 7.33 0 0 1 19 15v3H5z"></path></svg>        
            </div>
            <div>
              <p class="font-medium text-center mt-3 text-sm text-gray-700">Labour Services</p>
              <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
            </div>
          </div>
        </div>

        <div class="bg-[rgb(239,240,241)] shadow-sm w-48 h-48 lg:w-56 lg:h-56 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
          <div class="flex flex-col items-center">
            <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
              <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M18 2H6c-1.103 0-2 .897-2 2v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4c0-1.103-.897-2-2-2zm0 18H6V4h12v16z"></path><path d="M8 6h3v2H8zm5 0h3v2h-3zm-5 4h3v2H8zm5 .031h3V12h-3zM8 14h3v2H8zm5 0h3v2h-3z"></path></svg>            </div>
            <div>
              <p class="font-medium text-center mt-3 text-sm text-gray-700">Plant &#38; Machine Maintenance</p>
              <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
            </div>
          </div>
        </div>

        <div class="bg-[rgb(239,240,241)] shadow-sm w-48 h-48 lg:w-56 lg:h-56 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
          <div class="flex flex-col items-center">
            <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
              <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m3.553 18.895 4 2a1.001 1.001 0 0 0 .894 0L12 19.118l3.553 1.776a.99.99 0 0 0 .894.001l4-2c.339-.17.553-.516.553-.895v-5c0-.379-.214-.725-.553-.895L17 10.382V6c0-.379-.214-.725-.553-.895l-4-2a1 1 0 0 0-.895 0l-4 2C7.214 5.275 7 5.621 7 6v4.382l-3.447 1.724A.998.998 0 0 0 3 13v5c0 .379.214.725.553.895zM8 12.118l2.264 1.132-2.913 1.457-2.264-1.132L8 12.118zm4-2.5 3-1.5v2.264l-3 1.5V9.618zm6.264 3.632-2.882 1.441-2.264-1.132L16 12.118l2.264 1.132zM8 18.882l-.062-.031V16.65L11 15.118v2.264l-3 1.5zm8 0v-2.264l3-1.5v2.264l-3 1.5zM12 5.118l2.264 1.132-2.882 1.441-2.264-1.132L12 5.118z"></path></svg>            </div>
            <div>
              <p class="font-medium text-center mt-3 text-sm text-gray-700">Metal Fabrication &#38; Machining</p>
              <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
            </div>
          </div>
        </div>

        <div class="bg-[rgb(239,240,241)] shadow-sm w-48 h-48 lg:w-56 lg:h-56 cursor-pointer rounded-2xl flex flex-col  items-center justify-center px-4 hover:transition-all hover:duration-[800] hover:relative hover:bottom-1 hover:ease-in-out hover:bg-[rgb(221,252,231)]">
          <div class="flex flex-col items-center">
            <div class="rounded-full w-9 h-9 flex justify-center items-center bg-[rgba(80,165,111,0.65)]">
              <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13V13z"></path><path d="M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17z"></path></svg>            </div>
            <div>
              <p class="font-medium text-center mt-3 text-sm text-gray-700">General Merchandise</p>
              <p class="text-sm mt-2 text-center ">We can provide labour for technical services such .....</p>
            </div>
          </div>
        </div>
       
      </div>
     
    </div>

    <img class="absolute w-1/2 h-1/2 -z-50 -right-32 -bottom-10 lg:bottom-16 lg:-right-0 lg:left-[70vw] " src="/svgs/dots.svg" alt="dots svg">
  </section>

  <!-- Recent works and testimonials section -->
  <section class="w-auto h-auto px-4 py-8 lg:-mt-32" id="Work">
    <p class="font-bold text-[rgb(80,165,111)] text-4xl text-center mb-6">Our Clients Swear by us</p>

    <div class="flex flex-col space-y-8 lg:space-y-0 lg:space-x-6 lg:flex-row">
      <!-- overview of some work -->
      <div class="w-full lg:w-2/5 lg:flex lg:flex-col lg:items-center">
        <!-- <p class="font-bold text-[rgb(80,165,111)] text-2xl ">Here's some of our recent Work</p> -->
  
        <div class="bg-[rgb(239,240,241)] w-full px-5 py-4 rounded-3xl flex mt-5 flex-col items-center justify-center">
          <img class="mx-auto w-full h-64 rounded-lg" src="/images/work.jpg" alt="Work Image">
  
          <div id="view-btn" class="flex cursor-pointer items-center mt-7 bg-[rgb(175,226,194)] px-4 py-2 w-36 rounded-full">
            <p class="text-center font-medium">View more</p>
            <svg id="arrow-down" class="fill-[rgb(167,167,167)]" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
          </div>
        </div>
      </div>
  
      <!-- Our testimonials -->
      <div class="w-full lg:w-3/5 lg:flex lg:flex-col rounded-3xl bg-[rgb(239,240,241)] lg:items-center ">
        
      </div>

    </div>
  </section>

  <!-- Contact us section -->
  <section class="section w-auto h-auto -mt-40 sm:-mt-0 px-11 py-8 md:px-12 md:flex md:flex-row lg:justify-around"  id="Contact">
    <img class="w-1/2 h-1/4 relative top-52 -left-32 -z-40 lg:z-0 sm:hidden lg:w-1/6 lg:h-1/4 lg:relative lg:-left-[150px] lg:block lg:top-1/2" src="/svgs/dots.svg" alt="">
    <div>
      <p class="text-[rgb(80,165,111)] text-center font-medium sm:text-left">GOT A QUESTION?</p>
      <p class="text-4xl font-medium mt-2 text-center sm:text-left">Let's Talk</p>
      <p class="text-lg text-justify sm:text-left md:text-base lg:text-lg mt-2">Got a project in mind? We look forward to hearing from from you 🙂 </p>
    
      <!-- social links -->
      <div class="flex justify-center sm:justify-start space-x-4 mt-2 sm:mt-3">
        <div class="w-9 h-9 flex items-center justify-center bg-transparent hover:bg-[rgb(221,252,231)] rounded-full">
          <a href="mailto:globalgedan@yahoo.com">
            <svg class="fill-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
          </a>
        </div>

        <div class="w-9 h-9 flex items-center justify-center bg-transparent hover:bg-[rgb(221,252,231)] rounded-full">
          <a href="tel:+2348066441228">
            <svg class="fill-gray-700 hover:fill-gray-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z"></path></svg>
          </a>
        </div>

        <div class="w-9 h-9 flex items-center justify-center bg-transparent hover:bg-[rgb(221,252,231)] rounded-full">
          <a href="https://wa.me/+2348066441228">
            <svg class="fill-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"></path></svg>
          </a>
        </div>
      </div>
    </div>

    <!-- Contact us form -->
    <div class="mt-8 lg:mt-0">
      <form action="/" method="POST" id="form" class="lg:space-y-3 w-full md:w-96 lg:min-w-[30rem] lg:max-w-[40rem]"  >
      
        <label for="fullname" class="block">
          <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">Your name</span>
          <input type="text" id="fullname"  name="name" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-[rgba(80,165,111,0.65)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)]
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-red-500 invalid:text-red-600
            focus:invalid:border-red-500 focus:invalid:ring-red-500
          "/>
        </label>

        <label for="email" class="block">
          <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">Email</span>
          <input type="email" name="email" id="email" class="peer ... mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-[rgba(80,165,111,0.65)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)]
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-red-500 invalid:text-red-600
            focus:invalid:border-red-500 focus:invalid:ring-red-500
          "/>
          <p class="mt-2 invisible peer-invalid:visible text-red-600 text-sm">
            Please provide a valid email address.
          </p>
        </label>

        <label for="phone" class="block">
          <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">Phone</span>
          <input type="tel" id="phone" name="phone" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-[rgba(80,165,111,0.65)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)]
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-red-500 invalid:text-red-600
            focus:invalid:border-red-500 focus:invalid:ring-red-500
          "/>
        </label>

        <label for="message" class="block">
          <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">Message</span>
          <input name="message" id="message" type="text" class="mt-1 block w-full h-60 px-3 py-2 overflow-y-scroll bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-[rgba(80,165,111,0.65)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)]
            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
            invalid:border-red-500 invalid:text-red-600
            focus:invalid:border-red-500 focus:invalid:ring-red-500
          "/>
        </label>
    
        <button class="flex items-center justify-center appearance-none w-48 px-2 py-3 bg-[rgb(80,165,111)] hover:bg-[rgba(80,165,111,0.9)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)] lg:px-4 lg:py-3 text-white font-medium  rounded-xl" type="submit">
          <div>Send message</div>
          <svg class="ml-2 fill-white"xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m21.426 11.095-17-8A.999.999 0 0 0 3.03 4.242L4.969 12 3.03 19.758a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81zM5.481 18.197l.839-3.357L12 12 6.32 9.16l-.839-3.357L18.651 12l-13.17 6.197z"></path></svg>
        </button>
    
      </form>
    </div>
  </section>

  <!-- Footer section -->
  <section class="bg-[rgb(239,240,241)] py-8"id="footer">
    
    <div class="text-sm text-slate-900" id="copyright"></div>

    <p class="cursor-pointer">privacy policy</p>
    <!-- <div class="px-5 py-10 h-[50vh] w-[50vw] absolute top-1/2 left-1/5 z-50 bg-sky-200 overflow-y-auto ">
      <!-- <%- include('./includes/privacy_policy.ejs'); %>
    </div> -->

    <div class="flex justify-center mt-4">
      Made with &#128151; using
       <svg xmlns="http://www.w3.org/2000/svg" class="fill-[rgb(131,138,150)] ml-1" width="24" height="24"><path d="M12 21.985c-.275 0-.532-.074-.772-.202l-2.439-1.448c-.365-.203-.182-.277-.072-.314.496-.165.588-.201 1.101-.493.056-.037.129-.02.185.017l1.87 1.12c.074.036.166.036.221 0l7.319-4.237c.074-.036.11-.11.11-.202V7.768c0-.091-.036-.165-.11-.201l-7.319-4.219c-.073-.037-.165-.037-.221 0L4.552 7.566c-.073.036-.11.129-.11.201v8.457c0 .073.037.166.11.202l2 1.157c1.082.548 1.762-.095 1.762-.735V8.502c0-.11.091-.221.22-.221h.936c.108 0 .22.092.22.221v8.347c0 1.449-.788 2.294-2.164 2.294-.422 0-.752 0-1.688-.46l-1.925-1.099a1.55 1.55 0 0 1-.771-1.34V7.786c0-.55.293-1.064.771-1.339l7.316-4.237a1.637 1.637 0 0 1 1.544 0l7.317 4.237c.479.274.771.789.771 1.339v8.458c0 .549-.293 1.063-.771 1.34l-7.317 4.236c-.241.11-.516.165-.773.165zm2.256-5.816c-3.21 0-3.87-1.468-3.87-2.714 0-.11.092-.221.22-.221h.954c.11 0 .201.073.201.184.147.971.568 1.449 2.514 1.449 1.54 0 2.202-.35 2.202-1.175 0-.477-.185-.825-2.587-1.063-1.999-.2-3.246-.643-3.246-2.238 0-1.485 1.247-2.366 3.339-2.366 2.347 0 3.503.809 3.649 2.568a.297.297 0 0 1-.056.165c-.037.036-.091.073-.146.073h-.953a.212.212 0 0 1-.202-.164c-.221-1.012-.789-1.34-2.292-1.34-1.689 0-1.891.587-1.891 1.027 0 .531.237.696 2.514.99 2.256.293 3.32.715 3.32 2.294-.02 1.615-1.339 2.531-3.67 2.531z"></path></svg>
       and
       <svg xmlns="http://www.w3.org/2000/svg" class="fill-[rgb(131,138,150)] ml-1" width="24" height="24"><path d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"></path></svg>
    </div>
  
  </section>

  <!-- JS Script -->
  <script type="text/javascript" src="/js/script.js"></script>

</body>
</html>