<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Plant Maintenance, Metal Fabrication, Earth Moving Machines, Printing Machines and Accesories, Manufacturing MC/Parts, Technical Materials, Labour and Services, Metal Machining, Importer/Exporter, General Mechandise"
    />
    <meta
      name="description"
      content="Gedan Global Options Ltd, an Engineering Firm"
    />
    <meta name="language" content="ENG" />
    <meta name="author" content="gedan, globalgedan@yahoo.com" />
    <meta name="developer" content="Daniel Brai, danielbrai.dev@gmail.com" />
    <meta name="url" content="" />
    <meta name="identifier-URL" content="" />
    <meta name="og:title" content="Gallery Upload | Gedan Global Options Ltd" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="" />
    <meta name="og:image" src="/images/gedan_hero_image_fallback.jpg" />
    <meta name="og:site_name" content="Gedan Global Options Ltd" />
    <meta
      name="og:description"
      content="Gedan Global Options Ltd, an Engineering Firm delivering best-in-class services making the work environment safe and effective"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/build.css" />
    <!-- <link rel="stylesheet" href="/css/tailwind.css" /> -->
    <title>Gallery Upload | Gedan Global Options Ltd</title>
  </head>
  <body
    class="bg-white relative overflow-y-scroll w-full h-full scrollbar-w-3 scrollbar-thumb-gray-400 scrollbar-track-gray-200"
  >
    <nav class="px-8 py-4 bg-green-50 w-full flex">
      <!-- go home -->
      <a class="text-gray-900 flex items-center" href="/">
        <svg
          class="fill-[rgb(80,165,111)]"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        >
          <path
            d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"
          ></path>
        </svg>
        <span class="ml-3 font-medium text-base lg:text-lg">Go Home</span>
      </a>
      <span class="text-gray-900 font-medium text-base lg:text-lg mx-2 lg:mx-3"
        >/</span
      >
      <!-- go to gallery -->
      <a class="text-gray-900 flex items-center" href="/gallery">
        <span class="font-medium text-base lg:text-lg">Go to the Gallery</span>
      </a>
    </nav>

    <section class="px-16" id="Gallery">
      <h2
        class="mt-20 text-center text-3xl sm:text-4xl text-[rgb(80,165,111)] lg:text-5xl font-bold"
      >
        Upload to the Gallery
      </h2>

      <div class="flex items-center justify-center mt-20">
        <form
          action="/image/upload"
          method="POST"
          class="space-y-4 lg:space-y-5 w-full md:w-96 lg:min-w-[30rem] lg:max-w-[40rem]"
        >
          <label for="img-desc" class="block">
            <span
              class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
              >Image description</span
            >
            <input
              type="text"
              id="img-desc"
              placeholder="Enter the image description"
              name="img-desc"
              class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-[rgba(80,165,111,0.65)] focus:ring-1 focus:ring-[rgba(80,165,111,0.8)] disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-red-500 invalid:text-red-600 focus:invalid:border-red-500 focus:invalid:ring-red-500"
            />
          </label>

          <p
            class="after:content-['*'] after:ml-0.5 after:text-red-500 text-sm font-medium text-slate-700 mt-5"
          >
            Choose an Image
          </p>
          <div
            class="w-full px-3 py-2 bg-white border border-slate-300 rounded-lg text-sm shadow-sm"
          >
            <label for="image" class="block">
              <span class="sr-only">Choose an image</span>
              <input
                type="file"
                class="block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-[rgb(125,197,151)] file:text-white hover:file:bg-[rgb(113,184,139)]"
              />
            </label>
          </div>

          <button
            type="submit"
            class="w-full px-6 py-3 flex items-center justify-center text-white text-base bg-[rgb(99,170,125)] hover:transition-colors hover:bg-[rgb(96,187,130)] rounded-md"
          >
            <svg
              class="fill-slate-50"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path d="M11 15h2V9h3l-4-5-4 5h3z"></path>
              <path
                d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"
              ></path>
            </svg>
            <span class="ml-2 font-medium">Upload</span>
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
