@tailwind base;
@tailwind components;
@tailwind utilities;

.openMenu { 
  animation: @apply openMenu duration-150 ease-out;
}

@keyframes openMenu {
  from {
      @apply opacity-0 scale-95;
  }
  to {
      @apply opacity-100 scale-100;
  }
}

.closeMenu { 
  animation: @apply closeMenu duration-100 ease-in;
}

@keyframes closeMenu { 
  from { 
    @apply opacity-100 scale-100;
  }
  to { 
    @apply opacity-0 scale-95;
  }
}

.noscroll::-webkit-scrollbar {
  display: none;
}

